<div class="sidebar">
    <ul class="sidebar-links">
      <li>
        <a href="https://www.instagram.com/my_plantiva/" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-instagram"></i>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/company/plantiva-pvt-ltd/" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-linkedin"></i>
        </a>
      </li>
      <li>
        <a href="https://www.youtube.com/watch?v=JI9VxQowWBQ" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-youtube"></i>
        </a>
      </li>
    </ul>
  </div>
  