/* You can add global styles to this file, and also import other style files */
body {
    margin-left: 60px; /* Width of the sidebar */
  }
  
  @media (max-width: 768px) {
    body {
      margin-left: 0;
    }
    .sidebar {
      width: 100%;
      height: auto;
      position: static;
      padding: 10px;
    }
  }
  