<div class="homepage-header text-center">
    <h2>Revolutionize Farming with Hydroponics</h2>
  </div>
  <div class="homepage-header1 text-center">
    <h5 class="subheader">From Soil to Solution: The Future of farming is here</h5>
  </div>
  <img src="assets/fresh-organic-vegetables-grown-indoors-hydroponics-generated-by-ai.jpg" alt="Farming with Hydroponics" class="homepage-image">
  <div class="question1">
  <h3 class="h3-header">What is hydroponics ?</h3>
  <h5 class="h5-header">Hydroponics is a method of growing plants without soil. Instead, plants are grown in a nutrient-rich water solution, which provides all the essential minerals they need to thrive <br><br>
</h5>
<b><i>Key Features of Hydroponics:</i></b><br><br>
<ul><b>Nutrient Control:</b> You have precise control over the nutrients and pH levels, which can optimize plant growth.</ul>
<ul><b>Water Efficiency:</b> It uses significantly less water than traditional soil-based gardening since the water is recirculated.</ul>
<ul><b>Space Efficiency:</b> Plants can be grown closer together, making hydroponics ideal for urban or indoor farming.</ul>
<ul><b>Growth:</b> Plants often grow faster because they receive nutrients more efficiently and in ideal conditions.</ul>
</div>

